@using VigilanceClearance.Models.Ministry_ApproverModels
@model List<ReferenceListPendingWith_MinistryApproverModel>

@{
    ViewData["Title"] = "GetReferenceListPendingWith_MinistryApprover";
    Layout = "~/Views/Shared/_MinistryLayout.cshtml";
}

@* <h1>GetReferenceListPendingWith_MinistryApprover</h1> *@

<style>
    .table-responsive {
        max-height: 500px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .table thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;
        z-index: 1;
    }
</style>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<section>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <div class="row">
                <div class="col-md-11">
                    <h3 class="card-title mb-0">View Reference Received CVC</h3>
                </div>
                <div class="col-md-1">
                    <a asp-action="Index" asp-route-id="#" class="btn btn-light btn-sm">Back</a>
                </div>
            </div>

        </div>
        <div class="card-body p-2">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Action</th>
                            <th>Sr.No.</th>
                            <th>Master ReferenceId</th>
                            <th>Pending With</th>
                            <th>Reference Received For</th>
                            <th>Reference Received From</th>
                            <th>From Code</th>
                            <th>Post Category</th>
                            <th>Post Sub Category</th>
                            <th>Org Name</th>
                            <th>Min Name</th>
                            <th>Ref/File No</th>
                            <th>Submission Date</th>
                            <th>CVC Ref/File No</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int sno = 1;
                            foreach (var item in Model)
                            {

                                <tr>
                                    @*<td>
                                          <a asp-action="ViewOfficerListForGivenProposal" asp-route-id="@item.Id" class="btn btn-info btn-sm">View</a>
                                    </td>*@
                                    <td>
                                        <button class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("New_Reference_Details", "Ministry_Department", new { MasterRefID = item.Id })'">Details</button>
                                    </td>
                                    <td>@sno</td>
                                    <td>@item.Id</td>
                                    <td>@item.PendingWith</td>
                                    <td>@item.ReferenceReceivedFor</td>
                                    <td>@item.ReferenceReceivedFrom</td>
                                    <td>@item.ReferenceReceivedFromCode</td>
                                    <td>@item.SelectionForThePostCategory</td>
                                    <td>@item.SelectionForThePostSubCategory</td>
                                    <td>@item.OrgName</td>
                                    <td>@item.MinDesc</td>
                                    <td>@item.ReferenceNo_FileNo</td>
                                    <td>@item.ReferenceOrSubmissionToCvcDate</td>
                                    <td>@item.CVC_ReferenceID_FileNo</td>
                                </tr>
                                sno++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>