@using VigilanceClearance.Models.OfficerDetailModel
@* @model UpdateReferenceReceivedFromCVCModel; *@
@model OfficerDetailMainModel

@{
    ViewData["Title"] = "UpdateReferenceReceivedCVC";
    Layout = "~/Views/Shared/_MinistryLayout.cshtml";
}


@* @if (TempData.Peek("successmsg") != null)
{
    <div class="alert alert-success">
        @TempData.Peek("successmsg")
    </div>
} *@

@if (TempData["successmsg"] != null)
{
    <div class="alert alert-success">
        @TempData["successmsg"]
    </div>
}

<section style="width: 100%; height: 500px; overflow: auto; border: 1px solid #ccc;">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-end" style="background-color: #007bff; color: white;">
            <h3 class="mb-0">Update Reference Received CVC</h3>
            <a asp-action="ViewReferenceReceivedCVC" asp-route-id="101" class="btn btn-light btn-sm">Back</a>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row mt-1">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_Name)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_Name, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_FatherName)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_FatherName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_DateOfBirth)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_DateOfBirth, new { @class = "form-control", disabled = "disabled" })
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_RetirementDate)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_RetirementDate, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_ServiceEntryDate)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_ServiceEntryDate, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_Service)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_Service, new { @class = "form-control", disabled = "disabled" })
                        @* @Html.DropDownListFor(m => m.SelectedCountry, Model.CountryList, "Choose...", new { @class = "form-control form-select" }) *@
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Officer_Batch_Year)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Officer_Batch_Year, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.officerPersonalDetailModel.Cadre)
                        @Html.TextBoxFor(m => m.officerPersonalDetailModel.Cadre, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>

                <hr />

                @*   7 . point   Start   *@ 
             
                    <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    7. Positions Held including whether the officer has functioned as a CVO in part time or additional charge capacity or any other additional charge -(During the Ten Preceding Years)
                                </div>
                            </div>

                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>Organization</th>
                                                    <th>Ministry</th>
                                                    <th>Designation </th>
                                                    <th>Place of Posting </th>
                                                    <th>TenureFrom</th>
                                                    <th>TenureTo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.officerPostingDetailsList)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.orgCode </td>
                                                            <td>@item.orgMinistry</td>
                                                            <td>@item.designation</td>
                                                            <td>@item.placeOfPosting </td>
                                                            <td>@(item.fromDate?.ToString("dd-MM-yyyy") ?? "")</td>
                                                            <td>@(item.toDate?.ToString("dd-MM-yyyy") ?? "")</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#positionHeldModal">
                                        Add New
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="positionHeldModal" tabindex="-1" role="dialog" aria-labelledby="positionHeldModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddOfficerPostingDetails" asp-controller="Ministry_Department" method="post">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.Organization)
                                        @Html.DropDownListFor(model => model.officerPostingDetail7.Organization, Model.officerPostingDetail7.OrganizationList,
                                        "-- Select Organization --",  new { @class = "form-control", id = "ddlorg" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.Ministry)
                                        @Html.DropDownListFor(model => model.officerPostingDetail7.Ministry, Model.officerPostingDetail7.MinistryList,
                                                                                "-- Select Ministry --",  new { @class = "form-control", id = "ddlMinistry", disabled = "disabled" })
                                        @Html.HiddenFor(model => model.officerPostingDetail7.Ministry)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.Designation)
                                        @Html.TextBoxFor(m => m.officerPostingDetail7.Designation, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.PlaceOfPosting)
                                        @Html.TextBoxFor(m => m.officerPostingDetail7.PlaceOfPosting, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.TenureFrom)
                                        @Html.TextBoxFor(m => m.officerPostingDetail7.TenureFrom, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPostingDetail7.TenureTo)
                                        @Html.TextBoxFor(m => m.officerPostingDetail7.TenureTo, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @*   7 . point End    *@ 


                <hr />

                @*   8 . point Start    *@ 

                  <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    8. Whether the officer has been placed on the "Agreed List or List of Officer of Doubtful Integrity"
                                </div>
                            </div>
                            <div class="mt-1">
                                <h5>AGREED LIST </h5>
                            </div>

                            <form asp-action="AddIntegrityAgreedOrDoubtful" asp-controller="Ministry_Department" method="post">

                                <div class="row d-flex" style="margin-left:26px;">
                                    <div class="col-md-2">
                                        @*  @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.IsAgreed) *@
                                        <label>Entered In The List</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex align-items-center">
                                            @Html.DropDownListFor(model => model.officerIntegrityAgreedOrDoubtful_8.IsAgreed,
                                                                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Yes" },
                                                                                        new SelectListItem { Text = "No", Value = "No" }
                                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown1" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-0">
                                        <div class="d-flex align-items-center">
                                            @* <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#AgreedlistModal" disabled="disabled" id="btnAddAgreedList1">
                                                Add New
                                            </button> *@
                                            <button type="submit" class="btn btn-primary" id="btnAddAgreedList1" disabled>Add New</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No.</th>
                                                    <th>Entered In The List</th>
                                                    <th>Entry Date</th>
                                                    <th>Removed From The List</th>
                                                    <th>Removal Date </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.insertIntegrityAgreedOrDoubtfulModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.enteredInTheList </td>
                                                            <td>@(item.dateOfEntryInTheList.ToString("dd-MM-yyyy") ?? "")</td>
                                                            <td>@item.removedFromTheList</td>
                                                            <td>@item.dateOfRemovalFromTheList</td>
                                                            <td>
                                                                <a asp-action="#" asp-route-id="@item.id" class="btn btn-info btn-sm">Remove From List</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>

                            @*  //ODI List *@

                            <div class="mt-1">
                                <h5>ODI LIST </h5>
                            </div>

                            <div class="row d-flex" style="margin-left:26px;">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.IsAgreed)
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex align-items-center">
                                        @Html.DropDownListFor(model => model.officerIntegrityAgreedOrDoubtful_8.IsAgreed,
                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                                new SelectListItem { Text = "No", Value = "false" }
                                                                                },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown2" })
                                    </div>
                                </div>
                                <div class="col-md-2 mt-0">
                                    <div class="d-flex align-items-center">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgreedlistModal" disabled="disabled" id="btnAddAgreedList2">
                                            Add New
                                        </button>
                                    </div>
                                </div>
                            </div>



                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>IsAgreed</th>
                                                    <th>YearFrom </th>
                                                    <th>YearTo</th>
                                                    <th>Removed From Agreed List </th>
                                                    <th>Removed From Agreed List Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Dynamic rows will be added here -->
                                            </tbody>
                                        </table>
                                    </div>

                                    @* <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#AgreedlistModal">
                                        Add New
                                    </button> *@

                                    <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#AgreedlistRemovedModal">
                                        Remove From Agreed List
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


                @* Modal *@
                <div class="modal" id="AgreedlistModal" tabindex="-1" role="dialog" aria-labelledby="AgreedlistModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title">Add New Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @* <div class="form-group">
                                    @Html.LabelFor(m => m.IsAgreed)
                                    @Html.DropDownListFor(model => model.IsAgreed,
                                                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                        new SelectListItem { Text = "No", Value = "false" }
                                                                        },"-- Select --", new { @class = "form-control" })
                                </div> *@

                                <div class="form-group">
                                    @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.YearFrom)
                                    @Html.TextBoxFor(m => m.officerIntegrityAgreedOrDoubtful_8.YearFrom, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.YearTo)
                                    @Html.TextBoxFor(m => m.officerIntegrityAgreedOrDoubtful_8.YearTo, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy", })
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" id="addPositionBtn" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

                @* Remove Model *@
                <div class="modal" id="AgreedlistRemovedModal" tabindex="-1" role="dialog" aria-labelledby="AgreedlistModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title">Remove From Agreed List</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.IsAgreed)
                                    @Html.DropDownListFor(model => model.officerIntegrityAgreedOrDoubtful_8.IsAgreed,
                                                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" }
                                                                        },"-- Select --", new { @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.officerIntegrityAgreedOrDoubtful_8.RemovedFromAgreedlistDate)
                                    @Html.TextBoxFor(m => m.officerIntegrityAgreedOrDoubtful_8.RemovedFromAgreedlistDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" id="addPositionBtn" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*    // Add two model for ODI List If Not work in same  *@


                @*   8 . point  End   *@ 


@* // 9. Pont Start *@


                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    9. Whether any allegation of misconduct involving vigilance angle was examined against the officer during the last 10 years and if so with result
                                </div>
                            </div>

                            <div class="row d-flex mt-2" style="margin-left:26px;">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.vigilanceAngleExamined)
                                    @*  <label>Vigilance Angle Examined</label> *@
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.officerAllegationOfMisconductExamined_9.vigilanceAngleExamined,
                                                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Yes" },
                                                                        new SelectListItem { Text = "No", Value = "No" }
                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown3" })
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#allegationofmisconduct" disabled="disabled" id="btnAddAgreedList3">
                                        Add New
                                    </button>
                                </div>
                            </div>


                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Vigilance Angle Examined</th>
                                                    <th>Case details</th>
                                                    <th>Present Status </th>
                                                    <th>Action Recommended </th>
                                                    <th>Action Recommended Details </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.AllegationOfMisconductExaminedModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.vigilanceAngleExamined</td>
                                                            <td>@item.caseDetails</td>
                                                            <td>@item.presentStatusOfTheCase</td>
                                                            <td>@item.actionrecommendedOptions</td>
                                                            <td>@item.actionRecommendedDetails</td>
                                                            <td></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    @*  <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#allegationofmisconduct" >
                                        Add New
                                    </button> *@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="allegationofmisconduct" tabindex="-1" role="dialog" aria-labelledby="allegationofmisconductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddAllegationOfMisconductExamined" asp-controller="Ministry_Department" method="post">

                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    @*  <div class="form-group">
                                        @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.vigilanceAngleExamined)
                                        @Html.TextBoxFor(m => m.officerAllegationOfMisconductExamined_9.vigilanceAngleExamined, new { @class = "form-control" })
                                    </div> *@
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.caseDetails)
                                        @Html.TextBoxFor(m => m.officerAllegationOfMisconductExamined_9.caseDetails, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.presentStatusOfTheCase)
                                        @Html.TextBoxFor(m => m.officerAllegationOfMisconductExamined_9.presentStatusOfTheCase, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.actionrecommendedOptions)
                                        @Html.TextBoxFor(m => m.officerAllegationOfMisconductExamined_9.actionrecommendedOptions, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerAllegationOfMisconductExamined_9.actionRecommendedDetails)
                                        @Html.TextBoxFor(m => m.officerAllegationOfMisconductExamined_9.actionRecommendedDetails, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    @* <button type="button" id="addPositionBtn" class="btn btn-primary">Add</button> *@
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                @* // 9. Pont End *@


                @* //10 Point Start *@

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    10. Whether any punishment was awarded to the officer during the last 10 years and if so, the date of imposition and details of the penalty
                                </div>
                            </div>

                            <div class="row d-flex mt-2" style="margin-left:26px;">
                                <div class="col-sm-2">
                                    @Html.LabelFor(m => m.officerPunishmentAwarded_10.punishmentAwarded)
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.officerPunishmentAwarded_10.punishmentAwarded,
                                    new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                        new SelectListItem { Text = "No", Value = "false" }
                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown4" })
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#punishmentawardedModal" disabled="disabled" id="btnAddAgreedList4">
                                        Add New
                                    </button>
                                </div>
                            </div>


                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>Punishment Awarded</th>
                                                    <th>Punishment Details</th>
                                                    <th>Punishment FromDate</th>
                                                    <th>Punishment ToDate</th>
                                                    <th>CheckName FromDate</th>
                                                    <th>CheckName ToDate</th>
                                                    <th>Additional Remarks_IfAny</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.PunishmentAwardedModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.punishmentAwarded</td>
                                                            <td>@item.punishmentDetails</td>
                                                            <td>@item.punishmentFromDate.ToString("dd-MM-yyyy")</td>
                                                            <td>@item.punishmentToDate.ToString("dd-MM-yyyy")</td>
                                                            <td>@item.checkName_FromDate.ToString("dd-MM-yyyy")</td>
                                                            <td>@item.checkName_ToDate.ToString("dd-MM-yyyy")</td>
                                                            <td>@item.additionalRemarks_IfAny</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    @* <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#punishmentawardedModal">
                                        Add New
                                    </button> *@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="punishmentawardedModal" tabindex="-1" role="dialog" aria-labelledby="punishmentawardedModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddPunishmentAwarded" asp-controller="Ministry_Department" method="post">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.punishmentDetails)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.punishmentDetails, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.punishmentFromDate)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.punishmentFromDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.punishmentToDate)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.punishmentToDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy", })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.checkName_FromDate)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.checkName_FromDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy", })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.checkName_ToDate)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.checkName_ToDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy", })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerPunishmentAwarded_10.additionalRemarks_IfAny)
                                        @Html.TextBoxFor(m => m.officerPunishmentAwarded_10.additionalRemarks_IfAny, new { @class = "form-control" })
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                @* //10 Point End *@

                @* // 11 Point Start *@

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    11. Is any disciplinary/criminal proceedings or charge sheet pending against the officer as on date. (If so,details to be furnished including reference No. ,if any of the Commission)
                                </div>
                            </div>

                            <div class="row d-flex mt-2" style="margin-left:26px;">
                                <div class="col-sm-2">
                                    @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.DisciplinaryProceeding)
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.officerDisciplinaryCriminalProceedings_11.DisciplinaryProceeding,
                                    new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                        new SelectListItem { Text = "No", Value = "false" }
                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown5" })

                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DisciplinaryProceedingModal" disabled="disabled" id="btnAddAgreedList5">
                                        Add New
                                    </button>
                                </div>
                            </div>


                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>Disciplinary/Criminal Proceedings </th>
                                                    <th>Suspension Date</th>
                                                    <th>Whether Revoked</th>
                                                    <th>Date of Revocation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.DisciplinaryCriminalProceedingsModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.whether_DisciplinaryCriminalProceedingsPending</td>
                                                            <td>@item.whether_Suspended</td>
                                                            <td>@(item.suspensionDate?.ToString("dd-MM-yyyy") ?? "")</td>
                                                            <td>@item.whetherRevoked</td>
                                                            <td>@(item.revocationDate?.ToString("dd-MM-yyyy") ?? "")</td>
                                                            <td>@item.detailsOf_Case</td>
                                                            <td>@item.presentStatusOftheCase</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    @* <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#DisciplinaryProceedingModal">
                                        Add New
                                    </button> *@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="DisciplinaryProceedingModal" tabindex="-1" role="dialog" aria-labelledby="DisciplinaryProceedingModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddDisciplinaryCriminalProceedings" asp-controller="Ministry_Department" method="post">

                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.whether_Suspended)
                                        @Html.DropDownListFor(model => model.officerDisciplinaryCriminalProceedings_11.whether_Suspended,
                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Yes" },
                                                                                new SelectListItem { Text = "No", Value = "No" }
                                                                                },"-- Select --", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.suspensionDate)
                                        @Html.TextBoxFor(m => m.officerDisciplinaryCriminalProceedings_11.suspensionDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.whetherRevoked)
                                        @Html.DropDownListFor(model => model.officerDisciplinaryCriminalProceedings_11.whetherRevoked,
                                                                                new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Yes" },
                                                                                new SelectListItem { Text = "No", Value = "No" }
                                                                                },"-- Select --", new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.revocationDate)
                                        @Html.TextBoxFor(m => m.officerDisciplinaryCriminalProceedings_11.revocationDate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy", })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.detailsOf_Case)
                                        @Html.TextBoxFor(m => m.officerDisciplinaryCriminalProceedings_11.detailsOf_Case, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerDisciplinaryCriminalProceedings_11.presentStatusOftheCase)
                                        @Html.TextBoxFor(m => m.officerDisciplinaryCriminalProceedings_11.presentStatusOftheCase, new { @class = "form-control" })
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    @* <button type="button" id="addPositionBtn" class="btn btn-primary">Add</button> *@
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* // 11 Point End *@

                @* //12 Point Start *@
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    12. Is any action contemplated against the officer as on date (if so, details to be furnished)
                                </div>
                            </div>

                            <div class="row d-flex mt-2" style="margin-left:26px;">
                                <div class="col-sm-2">
                                    @Html.LabelFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.whether_CaseContemplated)
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.officerActionContemplatedAgainstTheOfficerAsOnDate_12.whether_CaseContemplated,
                                                                        new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                        new SelectListItem { Text = "No", Value = "false" }
                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown6" })
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContemplatedAgainstModal" disabled="disabled" id="btnAddAgreedList6">
                                        Add New
                                    </button>
                                </div>
                            </div>



                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>whether_CaseContemplated </th>
                                                    <th>Case Detail</th>
                                                    <th>Case Status</th>
                                                    @* <th>As on date</th> *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.ActionContemplatedAgainstTheOfficerModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.whether_CaseContemplated</td>
                                                            <td>@item.detailsOfTheCase</td>
                                                            <td>@item.presentStatusOftheCase</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    @* <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#ContemplatedAgainstModal">
                                        Add New
                                    </button> *@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="ContemplatedAgainstModal" tabindex="-1" role="dialog" aria-labelledby="ContemplatedAgainstModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddActionContemplatedAgainstTheOfficer" asp-controller="Ministry_Department" method="post">


                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.detailsOfTheCase)
                                        @Html.TextBoxFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.detailsOfTheCase, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.presentStatusOftheCase)
                                        @Html.TextBoxFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.presentStatusOftheCase, new { @class = "form-control" })

                                    </div>
                                    @*  <div class="form-group">
                                    @Html.LabelFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.ContemplatedAgainstStatusasondate)
                                    @Html.TextBoxFor(m => m.officerActionContemplatedAgainstTheOfficerAsOnDate_12.ContemplatedAgainstStatusasondate, new { @class = "form-control", type = "date", placeholder = "dd-MM-yyyy" })
                                </div> *@
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* //12 Point End *@

                @*  //13 Point Start *@

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mb-4">
                            <div class="card-header bg-info text-white">
                                <div class="card-title">
                                    13. Whether any complaint with vigilance angle is pending against the officer (if so, details to be furnished)
                                </div>
                            </div>

                            <div class="row d-flex mt-2" style="margin-left:26px;">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.officerComplaintWithVigilanceAnglePending_13.whether_vigilanceAngelPending)
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.officerComplaintWithVigilanceAnglePending_13.whether_vigilanceAngelPending,
                                    new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "true" },
                                                                        new SelectListItem { Text = "No", Value = "false" }
                                                                        },"-- Select --", new { @class = "form-control agreed-dropdown", @id = "IsAgreedDropdown7" })
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ComplaintwithVigilanceAngleModal" disabled="disabled" id="btnAddAgreedList7">
                                        Add New
                                    </button>
                                </div>
                            </div>

                            <form asp-action="UpdateReferenceReceivedCVC" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="positionsTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 5%;">S.No</th>
                                                    <th>Vigilance Angel Pending </th>
                                                    <th>Case Detail</th>
                                                    <th>Status</th>
                                                    <th>Addtional Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                    foreach (var item in Model.ComplaintWithVigilanceAnglePendingModellist)
                                                    {
                                                        <tr>
                                                            <td>@(sno++)</td>
                                                            <td>@item.whether_vigilanceAngelPending</td>
                                                            <td>@item.detailsOfTheCase</td>
                                                            <td>@item.presentStatusOftheCase</td>
                                                            <td>@item.addtionalRemarks</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    @*  <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#ComplaintwithVigilanceAngleModal">
                                        Add New
                                    </button> *@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* Modal *@
                <div class="modal" id="ComplaintwithVigilanceAngleModal" tabindex="-1" role="dialog" aria-labelledby="ComplaintwithVigilanceAngleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form asp-action="AddComplaintWithVigilanceAnglePending" asp-controller="Ministry_Department" method="post">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Add New Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerComplaintWithVigilanceAnglePending_13.detailsOfTheCase)
                                        @Html.TextBoxFor(m => m.officerComplaintWithVigilanceAnglePending_13.detailsOfTheCase, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerComplaintWithVigilanceAnglePending_13.presentStatusOftheCase)
                                        @Html.TextBoxFor(m => m.officerComplaintWithVigilanceAnglePending_13.presentStatusOftheCase, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.officerComplaintWithVigilanceAnglePending_13.addtionalRemarks)
                                        @Html.TextBoxFor(m => m.officerComplaintWithVigilanceAnglePending_13.addtionalRemarks, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                @*  //13 Point End *@


                <div class="d-flex justify-content-end align-items-end">
                    <a asp-action="ViewReferenceReceivedCVC" asp-controller="Ministry" class="btn btn-primary">Final Submit</a>
                </div>

            </div>
        </div>

    </div>

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    document.querySelectorAll('.agreed-dropdown').forEach(function (dropdown) {
        dropdown.addEventListener('change', function () {
            var dropdownId = this.id; // e.g., "IsAgreedDropdown1"
            var number = dropdownId.replace('IsAgreedDropdown', ''); // Get the suffix number
            var button = document.getElementById('btnAddAgreedList' + number);

            if (this.value === 'true' || this.value==='Yes') {
                button.disabled = false;
            } else {
                button.disabled = true;
            }
        });
    });
</script>


@* // Bind Dropdown  *@
@* <script>
    document.getElementById('ddlorg').addEventListener('change', function () {
        var orgId = this.value;
        var ddlMinistry = document.getElementById('ddlMinistry');
        ddlMinistry.innerHTML = '<option>Loading...</option>';

        if (orgId) {
            fetch(`/Ministry_Department/GetMinistryDropDownAsync?orgcode=${orgId}`)
                .then(response => response.json())
                .then(data => {
                    ddlMinistry.innerHTML = '<option value="">-- Select Ministry --</option>';
                    data.forEach(ministry => {
                        ddlMinistry.innerHTML += `<option value="${ministry.id}">${ministry.name}</option>`;
                    });
                });
        } else {
            ddlMinistry.innerHTML = '<option value="">-- Select Ministry --</option>';
        }
    });
</script>
 *@

@* <script>
    document.getElementById('ddlorg').addEventListener('change', async function () {
        var orgId = this.value;
        alert("Org ID: " + orgId); // To check if event is firing
       
        var ddlMinistry = document.getElementById('ddlMinistry');

        if (orgId) {
            try {
               
                const response = await fetch(`GetMinistryDropDownAsync?orgcode=${encodeURIComponent(orgId)}`);
                alert(response);


                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                alert(data;

                ddlMinistry.innerHTML = '<option value="">-- Select Ministry --</option>';
                data.forEach(item => {
                    ddlMinistry.innerHTML += `<option value="${item.value}">${item.text}</option>`;
                });

            } catch (err) {
                console.error('Fetch error:', err);
                ddlMinistry.innerHTML = '<option value="">-- Error loading ministries --</option>';
            }
        } else {
            ddlMinistry.innerHTML = '<option value="">-- Select Ministry --</option>';
        }
    });
</script> *@

<script>
    $(document).ready(function () {
        $('#ddlorg').change(function () {
            var selectedOrg = $(this).val();
            // var MinistrySelect = $('#ddlMinistry');
            var MinistrySelect = $('#ddlMinistry');
            // Clear subpost dropdown
            MinistrySelect.empty();
            if (!selectedOrg) {
                MinistrySelect.prop('disabled', true)
                    .append($('<option>').val('').text('-- Select Ministry --'));

                return;
            }
            $.ajax({
                url: '@Url.Action("GetMinistryDropDown", "Ministry_Department")',
                type: 'GET',
                data: { orgcode: selectedOrg },
                datatype: "json",
                success: function (data) {
                    MinistrySelect.empty();
                    // Default option
                    if(data===null || !data ){
                           MinistrySelect.append($('<option>').val('').text('-- No Ministry Available --'));
                           $('input[name="officerPostingDetail7.Ministry"]').val('');
                           return;
                    }

                    $.each(data, function (i, item) {
                        //alert(item.value);
                        MinistrySelect.append($('<option>').val(item.value).text(item.text));
                    });

                     var firstValue = MinistrySelect.find('option:eq(0)').val();
                          MinistrySelect.val(firstValue);
                     $('input[name="officerPostingDetail7.Ministry"]').val(firstValue);

                    MinistrySelect.prop('disabled', true);
                    // toggleOtherField();

                },
                error: function (xhr) {
                    alert("Error loading Ministry: " + xhr.statusText);
                    //alert('@Url.Action("GetMinistryDropDownAsync", "Ministry_Department")');
                }
            });
        });
    });
</script>


