@model VigilanceClearance.Models.PESB.PESBViewModel

@{
    Layout = "~/Views/Shared/_PESB_Main_Layout.cshtml";
}


@if (Model.new_reference_List != null && Model.new_reference_List.Any())
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Reference List</h1>
                    <div class="d-flex justify-content-end mb-3">
                        <a asp-controller="PESB" asp-action="new_reference" class="btn btn-primary">
                            <i class="fas fa-plus me-1"></i> Add New Reference
                        </a>
                    </div>
                </div>
                
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Action</th>
                                <th>Id</th>
                                <th>Reference Received For</th>
                                @* <th>Reference Received From</th> *@
                                <th>Post</th>
                                <th>Sub Post</th>
                                <th>Ref. No. / File No</th>
                                <th>Submission to CVC Date</th>
                                <th>CVC Ref. ID / File No.</th>
                                @*  <th>Created By</th>
                            <th>Pending With</th>
                            <th>UID</th> *@
                                <th>Ref. Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.new_reference_List.Count; i++)
                            {
                                var item = Model.new_reference_List[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("Reference_Details", "PESB", new { id = item.Id })'">Details</button>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.referenceReceivedFor</td>
                                    @* <td>@item.referenceReceivedFrom</td> *@
                                    <td>@item.selectionForThePostCategory</td>
                                    <td>@item.selectionForThePostSubCategory</td>
                                    <td>@item.referenceNoFileNo</td>
                                    <td>@item.referenceOrSubmissionToCvcDate</td>
                                    <td>@item.cvcReferenceIdFileNo</td>
                                    @* <td>@item.createdBy</td>
                            <td>@item.pendingWith</td>
                            <td>@item.uid</td> *@
                                    <td>@item.referenceId</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
}
else
{
    <div class="alert alert-warning">No records found.</div>
}



@* this is sweat alert message , for add new reference  *@
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '@TempData["SuccessMessage"]',
            showConfirmButton: true,
            confirmButtonText: 'Close', // 👈 Customize the button text
            timerProgressBar: true
        });
    </script>
}